{% extends 'base.html' %}

{% block head %}
<title>ToDo List</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>ToDo List</h1>
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td class="actions-content">
                <a href="">Delete</a>
                <a href="">Update</a>
            </td>
        </tr>
    </table>
</div>
{% endblock %}